{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:testing-library/react"
  ],
  "plugins": [
    "react",
    "prettier",
    "testing-library"
  ],
  "rules": {
    "semi": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": [
      "error", {
        "semi": false
      }
    ],
    "no-underscore-dangle": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "ignorePatterns": [ "src/assets/**", "serviceWorker.js" ]
}
